.container-detail-page {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 2rem;
    max-width: 60rem;
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;

    p {
        text-align: left;
        text-indent: 2rem;
        padding-bottom: 1rem;
    }

    @media screen and (max-width: 1024px) {
        p {
            margin: 0 20px;
        }
    }

    ul, strong {
        text-align: left;
    }

    ul {
        margin-left: 2rem;
    }
}