* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Flex", sans-serif;
    text-align: center;
}

ul {
    list-style-position: inside;
    li {
        text-align: left;
    }
}

.fa-icon {
    color: #007bff;
    text-decoration: none;
    font-size: 4rem;
}

.link-no-style {
    text-decoration: none;
    color: inherit;
}